
/*  
 KEEP THIS TO TRY TO MAKE WHEEL ROTATE

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

#Logo {
  background-image: url('./imgs/Logo.png');
  background-repeat: no-repeat;
  width:100%;
  height: 15vh;
  background-size: contain;


  
}

#Navbar {
}

#Resume td {
  vertical-align: top;
}

.ColumnLeft {
  width: 60%;
}

.ColumnRight {
  width: 40%;
}

table {
  width:80%;
}