
/*  
 KEEP THIS TO TRY TO MAKE WHEEL ROTATE

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

#Logo {
  background-image: url('./imgs/Logo.png');
  background-size: 10%;
  background-repeat: no-repeat;
  height: 10vh;
  
}

#Navbar {
  float: left;
  display: inline-flex;
}